mixin nav()
	ul.nav&attributes(attributes)
		li._item мужчинам
			._pointer
			ul._subnav
				li._subitem Виды спорта
					ul._subnav-2
						li._subitem-2
							a._link(href="#") Бег
						li._subitem-2
							a._link(href="#") Борьба
						li._subitem-2
							a._link(href="#") Волейбол
						li._subitem-2
							a._link(href="#") Легкая атлетика
						li._subitem-2
							a._link(href="#") Плавание
						li._subitem-2
							a._link(href="#") Теннис
						li._subitem-2
							a._link(href="#") Туризм
						li._subitem-2
							a._link(href="#") Фитнес
						li._subitem-2
							a._link(href="#") Футбол
				li._subitem Обувь
					ul._subnav-2
						li._subitem-2
							a._link(href="#") Бег
						li._subitem-2
							a._link(href="#") Борьба
						li._subitem-2
							a._link(href="#") Волейбол
						li._subitem-2
							a._link(href="#") Легкая атлетика
						li._subitem-2
							a._link(href="#") Плавание
						li._subitem-2
							a._link(href="#") Теннис
						li._subitem-2
							a._link(href="#") Туризм
						li._subitem-2
							a._link(href="#") Фитнес
						li._subitem-2
							a._link(href="#") Футбол
				li._subitem Одежда
					ul._subnav-2
						li._subitem-2
							a._link(href="#") Бег
						li._subitem-2
							a._link(href="#") Борьба
						li._subitem-2
							a._link(href="#") Волейбол
						li._subitem-2
							a._link(href="#") Легкая атлетика
						li._subitem-2
							a._link(href="#") Плавание
						li._subitem-2
							a._link(href="#") Теннис
						li._subitem-2
							a._link(href="#") Туризм
						li._subitem-2
							a._link(href="#") Фитнес
						li._subitem-2
							a._link(href="#") Футбол
		li._item женщинам
			._pointer
			ul._subnav
				li._subitem Виды спорта
					ul._subnav-2
						li._subitem-2
							a._link(href="#") Бег
						li._subitem-2
							a._link(href="#") Борьба
						li._subitem-2
							a._link(href="#") Волейбол
						li._subitem-2
							a._link(href="#") Легкая атлетика
						li._subitem-2
							a._link(href="#") Плавание
						li._subitem-2
							a._link(href="#") Теннис
						li._subitem-2
							a._link(href="#") Туризм
						li._subitem-2
							a._link(href="#") Фитнес
						li._subitem-2
							a._link(href="#") Футбол
				li._subitem Обувь
					ul._subnav-2
						li._subitem-2
							a._link(href="#") Бег
						li._subitem-2
							a._link(href="#") Борьба
						li._subitem-2
							a._link(href="#") Волейбол
						li._subitem-2
							a._link(href="#") Легкая атлетика
						li._subitem-2
							a._link(href="#") Плавание
						li._subitem-2
							a._link(href="#") Теннис
						li._subitem-2
							a._link(href="#") Туризм
						li._subitem-2
							a._link(href="#") Фитнес
						li._subitem-2
							a._link(href="#") Футбол
				li._subitem Одежда
					ul._subnav-2
						li._subitem-2
							a._link(href="#") Бег
						li._subitem-2
							a._link(href="#") Борьба
						li._subitem-2
							a._link(href="#") Волейбол
						li._subitem-2
							a._link(href="#") Легкая атлетика
						li._subitem-2
							a._link(href="#") Плавание
						li._subitem-2
							a._link(href="#") Теннис
						li._subitem-2
							a._link(href="#") Туризм
						li._subitem-2
							a._link(href="#") Фитнес
						li._subitem-2
							a._link(href="#") Футбол
		li._item детям
			._pointer
			ul._subnav
				li._subitem Виды спорта
					ul._subnav-2
						li._subitem-2
							a._link(href="#") Бег
						li._subitem-2
							a._link(href="#") Борьба
						li._subitem-2
							a._link(href="#") Волейбол
						li._subitem-2
							a._link(href="#") Легкая атлетика
						li._subitem-2
							a._link(href="#") Плавание
						li._subitem-2
							a._link(href="#") Теннис
						li._subitem-2
							a._link(href="#") Туризм
						li._subitem-2
							a._link(href="#") Фитнес
						li._subitem-2
							a._link(href="#") Футбол
				li._subitem Обувь
					ul._subnav-2
						li._subitem-2
							a._link(href="#") Бег
						li._subitem-2
							a._link(href="#") Борьба
						li._subitem-2
							a._link(href="#") Волейбол
						li._subitem-2
							a._link(href="#") Легкая атлетика
						li._subitem-2
							a._link(href="#") Плавание
						li._subitem-2
							a._link(href="#") Теннис
						li._subitem-2
							a._link(href="#") Туризм
						li._subitem-2
							a._link(href="#") Фитнес
						li._subitem-2
							a._link(href="#") Футбол
				li._subitem Одежда
					ul._subnav-2
						li._subitem-2
							a._link(href="#") Бег
						li._subitem-2
							a._link(href="#") Борьба
						li._subitem-2
							a._link(href="#") Волейбол
						li._subitem-2
							a._link(href="#") Легкая атлетика
						li._subitem-2
							a._link(href="#") Плавание
						li._subitem-2
							a._link(href="#") Теннис
						li._subitem-2
							a._link(href="#") Туризм
						li._subitem-2
							a._link(href="#") Фитнес
						li._subitem-2
							a._link(href="#") Футбол
		li._item велосипеды
			._pointer
			ul._subnav
				li._subitem Виды спорта
					ul._subnav-2
						li._subitem-2
							a._link(href="#") Бег
						li._subitem-2
							a._link(href="#") Борьба
						li._subitem-2
							a._link(href="#") Волейбол
						li._subitem-2
							a._link(href="#") Легкая атлетика
						li._subitem-2
							a._link(href="#") Плавание
						li._subitem-2
							a._link(href="#") Теннис
						li._subitem-2
							a._link(href="#") Туризм
						li._subitem-2
							a._link(href="#") Фитнес
						li._subitem-2
							a._link(href="#") Футбол
				li._subitem Обувь
					ul._subnav-2
						li._subitem-2
							a._link(href="#") Бег
						li._subitem-2
							a._link(href="#") Борьба
						li._subitem-2
							a._link(href="#") Волейбол
						li._subitem-2
							a._link(href="#") Легкая атлетика
						li._subitem-2
							a._link(href="#") Плавание
						li._subitem-2
							a._link(href="#") Теннис
						li._subitem-2
							a._link(href="#") Туризм
						li._subitem-2
							a._link(href="#") Фитнес
						li._subitem-2
							a._link(href="#") Футбол
				li._subitem Одежда
					ul._subnav-2
						li._subitem-2
							a._link(href="#") Бег
						li._subitem-2
							a._link(href="#") Борьба
						li._subitem-2
							a._link(href="#") Волейбол
						li._subitem-2
							a._link(href="#") Легкая атлетика
						li._subitem-2
							a._link(href="#") Плавание
						li._subitem-2
							a._link(href="#") Теннис
						li._subitem-2
							a._link(href="#") Туризм
						li._subitem-2
							a._link(href="#") Фитнес
						li._subitem-2
							a._link(href="#") Футбол
		li._item распродажа
			._pointer
			ul._subnav
				li._subitem Виды спорта
					ul._subnav-2
						li._subitem-2
							a._link(href="#") Бег
						li._subitem-2
							a._link(href="#") Борьба
						li._subitem-2
							a._link(href="#") Волейбол
						li._subitem-2
							a._link(href="#") Легкая атлетика
						li._subitem-2
							a._link(href="#") Плавание
						li._subitem-2
							a._link(href="#") Теннис
						li._subitem-2
							a._link(href="#") Туризм
						li._subitem-2
							a._link(href="#") Фитнес
						li._subitem-2
							a._link(href="#") Футбол
				li._subitem Обувь
					ul._subnav-2
						li._subitem-2
							a._link(href="#") Бег
						li._subitem-2
							a._link(href="#") Борьба
						li._subitem-2
							a._link(href="#") Волейбол
						li._subitem-2
							a._link(href="#") Легкая атлетика
						li._subitem-2
							a._link(href="#") Плавание
						li._subitem-2
							a._link(href="#") Теннис
						li._subitem-2
							a._link(href="#") Туризм
						li._subitem-2
							a._link(href="#") Фитнес
						li._subitem-2
							a._link(href="#") Футбол
				li._subitem Одежда
					ul._subnav-2
						li._subitem-2
							a._link(href="#") Бег
						li._subitem-2
							a._link(href="#") Борьба
						li._subitem-2
							a._link(href="#") Волейбол
						li._subitem-2
							a._link(href="#") Легкая атлетика
						li._subitem-2
							a._link(href="#") Плавание
						li._subitem-2
							a._link(href="#") Теннис
						li._subitem-2
							a._link(href="#") Туризм
						li._subitem-2
							a._link(href="#") Фитнес
						li._subitem-2
							a._link(href="#") Футбол