mixin about-us()
	.about-us&attributes(attributes)
		._container
			+title('о нас')(class="about-us__title")
			._row
				._content
					p._text Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quas excepturi ut similique, modi sit corrupti impedit minus. Dicta quos voluptates deleniti sed, dolor ut. Quaerat ad aperiam facere dicta sequi expedita eius? Reiciendis facilis illum voluptatem, excepturi sint optio, dolor at perspiciatis alias veritatis dicta recusandae quasi! Blanditiis quasi facere itaque delectus soluta aliquam harum nesciunt. Eaque blanditiis adipisci cum magni voluptate cumque, mollitia explicabo molestiae est quibusdam, et exercitationem, perspiciatis tenetur sed? Repellat natus impedit laboriosam atque ducimus accusamus nulla at praesentium quisquam quam distinctio corporis sequi tempora, temporibus assumenda nesciunt aperiam. Assumenda distinctio cum explicabo veniam mollitia.
					p._text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod debitis beatae, omnis voluptate odit temporibus ab similique, deserunt numquam magni perspiciatis tenetur minima voluptas exercitationem adipisci ipsum necessitatibus sit fuga, quibusdam soluta libero aspernatur! Quo reprehenderit deleniti delectus debitis corrupti, qui expedita quas nisi magni dignissimos eius ut asperiores ipsam.
				img._img(src="assets/images/products/20.jpg" alt="")