mixin choose-sneakers()
	section.choose-sneakers&attributes(attributes)
		._container
			+title('Как выбирать кросовки?')(class="choose-sneakers__title")
			._list
				._item
					img._img(src="assets/images/blog/1.jpg" alt="")
					._date 05.01.2017
					h2._name Как выбирать кросовки для бега
					._text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi obcaecati facere velit aperiam totam nihil, consequuntur dolorem nostrum soluta tempora aut dolor, minima blanditiis sed doloremque expedita. Eveniet velit eos inventore culpa facere, dolorum qui ipsam dolore iste ut, omnis vitae in, vel esse consectetur optio beatae. Nesciunt, quibusdam in?
					a._more(href="#") подробнее
				._item
					img._img(src="assets/images/blog/2.jpg" alt="")
					._date 05.01.2017
					h2._name Как выбирать кросовки для тенниса
					._text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi obcaecati facere velit aperiam totam nihil, consequuntur dolorem nostrum soluta tempora aut dolor, minima blanditiis sed doloremque expedita. Eveniet velit eos inventore culpa facere, dolorum qui ipsam dolore iste ut, omnis vitae in, vel esse consectetur optio beatae. Nesciunt, quibusdam in?
					a._more(href="#") подробнее
				._item
					img._img(src="assets/images/blog/3.jpg" alt="")
					._date 05.01.2017
					h2._name Как выбирать кросовки для волейбола
					._text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi obcaecati facere velit aperiam totam nihil, consequuntur dolorem nostrum soluta tempora aut dolor, minima blanditiis sed doloremque expedita. Eveniet velit eos inventore culpa facere, dolorum qui ipsam dolore iste ut, omnis vitae in, vel esse consectetur optio beatae. Nesciunt, quibusdam in?
					a._more(href="#") подробнее