mixin ticker()
	.ticker&attributes(attributes)
		._slider
			._item
				._text Нужна консультация эксперта?
				a._link(href="#popup-callback") закажите звонок
			._item
				._text Скидки от 30% на всё!
				a._link(href="#popup-callback") закажите звонок