
include ../../blocks/header/header
include ../../blocks/logo/logo
include ../../blocks/cart/cart
include ../../blocks/callback/callback
include ../../blocks/navbar/navbar
include ../../blocks/nav/nav
include ../../blocks/search/search
include ../../blocks/store-list-link/store-list-link
include ../../blocks/ticker/ticker
include ../../blocks/home-banner-list/home-banner-list
include ../../blocks/banner-1/banner-1
include ../../blocks/banner-2/banner-2
include ../../blocks/banner-3/banner-3
include ../../blocks/asics-features/asics-features
include ../../blocks/banner-slider/banner-slider
include ../../blocks/product-list-slider/product-list-slider
include ../../blocks/product-item/product-item
include ../../blocks/about-us/about-us
include ../../blocks/choose-sneakers/choose-sneakers
include ../../blocks/footer/footer
include ../../blocks/subscribe/subscribe
include ../../blocks/title/title
include ../../blocks/social/social
include ../../blocks/copyright/copyright
include ../../blocks/popup-success/popup-success
include ../../blocks/popup-callback/popup-callback
include ../../blocks/page-up/page-up