mixin asics-features()
	.asics-features&attributes(attributes)
		._container
			._item
				._icon.asics-features__logo
				._text самый большой выбор asics в санкт-петербурге
			._item
				._icon.asics-features__count
				._text выставочных зала
			._item
				._icon.asics-features__guaranty
				._text официальная гарантия производителя
			._item
				._icon.asics-features__load
				._text возврат без проблем