mixin home-banner-list()
	.home-banner-list&attributes(attributes)
		._container
			+banner-1()(class="home-banner-list__banner-1")
			+banner-2()(class="home-banner-list__banner-2")
			+banner-3()(class="home-banner-list__banner-3")